<section class="block container">
  <header class="block__header">
    <h1 class="block__heading">
      shopMD is the fastest and easiest way to find the lowest prices for
      specialist services near you
    </h1>
    <p>
      The price difference can be 50% or more between high- and low-cost
      providers. This can mean saving thousands of dollarsin some cases for a
      single encounter, and even tens of thousands of dollars in others. Costs
      are not an indicator of quality.High costs are usually the result of high
      margins and administrative overhead costs which get passed on to the
      patient.
    </p>
  </header>
</section>
