<section class="block block--light-blue">
  <div class="container question--block">
    <header class="block__header hero__content">
      <h2 class="block__heading">Healthcare Does Not Have to be Expensive</h2>
      <p class="hero__tagline">
        The biggest complaint about the US healthcare system is high costs.
        Increasingly, patients are directly bearing these costs as High
        Deductible Health Plans (HDHP) and coinsurance gain prevalence. Most of
        us pay higher out-of-pocket costs than we should
      </p>
    </header>
    <iframe
      src="https://www.youtube.com/embed/nh99ZO2Ia9Q"
      class="block--video"
    ></iframe>
  </div>
</section>
