<section class="block flex--center">
    <header class="block__header">
      <h2 class="block__heading add-margin-below">
        Looking for Discounted Lab Work (Labs)?
      </h2>
    </header>
    <div class="block--main--body  block--main--body--top ">
      <div class="center--everything">
          <p class="text-to-left">
            There are various independent national lab chains that offer
            laboratory testing at discounted prices. Their self-pay prices can be
            80 percent lower than what is charged through hospitals and insurance.
            There are also online labs emerging that offer home kits for some
            types of laboratory work.<br /><br />
            You can start by either googling for a lab location near you or by
            visiting the companies' websites to see locations. Most DPC and direct
            specialty care providers also have access to discounted lab prices and
            pass them on to patients.
            <table class="table--light">
              <tr class="table--light--row">
                  <td class="table--light--data">First Choice Labs USA</td>
                  <td class="table--light--data"><a href="http://firstchoicelabsusa.com" class="credit-element">http://firstchoicelabsusa.com</a></td>
              </tr>
              <tr class="table--light--row">
                  <td class="table--light--data">Laboratory Corporation of USA (LabCorp)</td>
                  <td class="table--light--data"><a href="www.labcorp.com" class="credit-element">www.labcorp.com</a></td>
              </tr>
              <tr class="table--light--row">
                  <td class="table--light--data">Quest Diagnostics</td>
                  <td class="table--light--data"><a href="www.labcorp.com" class="credit-element">www.questdiagnostics.com/home/patient-home.html
                  </a></td>
              </tr>
            </table>
          </p>
      </div>
      <div class="center--everything">
          <p class="text-to-left">
              If you want to use Quest or LabCorp without negotiating prices, a number of online companies have contracted prices with these labs. You can purchase lab work on their websites at preset prices and then redeem the purchase at a nearby Quest or LabCorp lab. Note: Not all labs may be available on such sites and some states prohibit use of these services.
              <br><br>
              You can start by either googling for a lab location near you or by visiting the companies' websites to see locations. Most DPC and direct specialty care providers also have access to discounted lab prices and pass them on to patients.
            <table class="table--light">
              <tr class="table--light--row">
                  <td class="table--light--data">Discounted Labs</td>
                  <td class="table--light--data"><a href="https://www.discountedlabs.com
                      " class="credit-element">https://www.discountedlabs.com
                      /a></td>
              </tr>
              <tr class="table--light--row">
                  <td class="table--light--data">Ulta Lab Tests</td>
                  <td class="table--light--data"><a href="https://www.ultalabtests.com
                      " class="credit-element">https://www.ultalabtests.com
                  </a></td>
              </tr>
              <tr class="table--light--row">
                  <td class="table--light--data">Direct Laboratory Services</td>
                  <td class="table--light--data"><a href="https://www.directlabs.com
                      " class="credit-element">https://www.directlabs.com
                  </a></td>
              </tr>
              <tr class="table--light--row">
                  <td class="table--light--data">PersonLabs</td>
                  <td class="table--light--data"><a href="https://www.personalabs.com
                      " class="credit-element">https://www.personalabs.com
                  </a></td>
              </tr>
              <tr class="table--light--row">
                  <td class="table--light--data">Health Labs</td>
                  <td class="table--light--data"><a href="https://www.healthlabs.com
                      " class="credit-element">https://www.healthlabs.com
                  </a></td>
              </tr>
              <tr class="table--light--row">
                  <td class="table--light--data">Affordable Labs</td>
                  <td class="table--light--data"><a href="https://affordablelabsinc.com
                      " class="credit-element">https://affordablelabsinc.com
                  </a></td>
              </tr>
              <tr class="table--light--row">
                  <td class="table--light--data">Link2Labs</td>
                  <td class="table--light--data"><a href="https://www.link2labs.com/
                      " class="credit-element">https://www.link2labs.com/
                  </a></td>
              </tr>
            </table>
          </p>
      </div>
    </div>
    <img
      src="images/lab-illustration.svg"
      alt=""
      class="hero__image larger__image"
    />
  </section>