<section class="block flex flex--row--center">
  <header class="block__header">
    <h2 class="block__heading text-to-left">
      Looking for Discounted Pharmacies?
    </h2>
    <p class="text-to-left">
      There are many options to save on drug prices by shopping around. Even if
      your insurance covers prescription drugs, you may find that it costs less
      to purchase some drugs using self-pay than going through insurance:<br /><br />
      <a href="#" class="credit-element"
        >Why a patient paid a $285 copay for a $40 drug Prescription Drugs May
        Cost More With Insurance Than Without It </a
      ><br /><br />
      In addition to online pharmacies or coupon vendors listed below, you
      should also check prices at your local discount stores such as Costco or
      Walmart to see if they offer lower prices. If you have a local independent
      pharmacy, you may also start with them as they are likely to have lower
      prices than large pharmacy chains.
      <br /><br />
      The list of online discount pharmacies is continuing to grow. Amazon is
      also starting to offer certain pharmaceuticals by mail order.
      <br /><br />
      Another way to save on prescription drugs is to ask your doctor or
      pharmacist if a generic alternative is available for the drug you need.
      These are priced lower than brand name drugs of the same formulation. Big
      box stores like Walmart, Target and Costco have specific programs offering
      low price generic drugs. Pharmaceutical price shopping and/or discount
      coupon websites:
    </p>
    <table class="table--light">
      <tr class="table--light--row">
        <td class="table--light--data">GoodRx</td>
        <td class="table--light--data">
          <a href="www.goodrx.com" class="credit-element">www.goodrx.com</a>
        </td>
      </tr>
      <tr class="table--light--row">
        <td class="table--light--data">WeRx</td>
        <td class="table--light--data">
          <a href="www.werx.org" class="credit-element">www.werx.org</a>
        </td>
      </tr>
      <tr class="table--light--row">
        <td class="table--light--data">Rx Price Quotes</td>
        <td class="table--light--data">
          <a href="www.rxpricequotes.com" class="credit-element"
            >www.rxpricequotes.com
          </a>
        </td>
      </tr>
    </table>
  </header>
  <img
    src="images/app-illustration.svg"
    alt=""
    class="hero__image medium__image"
  />
</section>
