<section class="block hero block--wavy remove-margin">
  <div class="container flex-row-reverse">
    <header class="block__header hero__content">
      <h2 class="block__heading text-to-left">Looking for Primary Care?</h2>
      <p class="hero__tagline text-to-left remove-bottom-margin">
        Studies have shown that having a primary care doctor and getting regular
        and preventative primary care improves wellbeing and long term health.
        If you have insurance, most preventative care should be covered with a
        copay and you should be able to get a primary care doctor through your
        plan. If you do not have insurance, Direct Primary Care (DPC) doctors
        offer reasonable monthly subscription plans that takes care of primary
        care and some urgent care needs. You can search the internet for ‘Direct
        Primary Care near me’ and be able to locate DPC practices.
      </p>
    </header>
    <img
      src="images/group-illustration.svg"
      alt=""
      class="hero__image smaller__image"
    />
  </div>
</section>
