<section class="block flex">
  <header class="block__header">
    <h2 class="block__heading text-to-left">Looking for Urgent Care?</h2>
    <p class="text-to-left">
      There are approximately 10,000 urgent care clinics in the US and growing.
      Urgent care clinics are a good option to get timely urgent care at usually
      fixed low prices for low intensity symptoms, such as fever, aches and
      pains, cuts and bruises. The Urgent Care Association claims that 90% of
      things that patients go to ER can be treated at Urgent Care. You can find
      urgent care centers easily by searching the Internet for ‘Urgent Care near
      me’. Note that if you think you have a serious or life threatening
      condition, you should call 911 or go to an ER.
    </p>
  </header>
  <img
    src="images/urgen-care-home.svg"
    alt=""
    class="hero__image max--image--height"
  />
</section>
