<section class="block block--callout">
  <div class="container">
    <header class="block__header hero__content">
      <h1 class="block__heading">Are you a high-value specialty provider?</h1>
      <p class="hero__tagline highlight">
        Awesome! We might already have you covered by shopMD. But why not check
        to be sure, and see what else we can do for you? And before you ask -
        its FREE
      </p>
      <p class="hero__tagline">
        We're the largest community of cash-friendly, high value specialty
        service providers - and the biggest destinations for patients seeking
        high-value care.
      </p>
      <div class="question--block">
        <div class="question--block--element">
          <img src="icons/circle.png" alt="" class="question--circle" /> Are you
          providing high-value and lower costs?
        </div>
        <div class="question--block--element">
          <img src="icons/circle.png" alt="" class="question--circle" /> Are you
          cash-friendly and prefer to give patients choice to self-pay?
        </div>
        <div class="question--block--element">
          <img src="icons/circle.png" alt="" class="question--circle" /> Do you
          want to grow your practice without more risk-based hassles?
        </div>
      </div>
      <button class="button button--primary">
        <a href="#">Let's make sure I'm on shopMD</a>
      </button>
    </header>
  </div>
</section>
