<section class="block">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">COMING SOON!</h1>
      <p class="hero__tagline">shopMD individual & family memberships</p>
      <p class="hero__tagline secondary__text">
        shopMD will be open to individual & family memberships soon. Join our
        waitlist to stay informed of when you can join.
      </p>
      <p class="hero__tagline secondary__text">
        Meanwhile, you can use our
        <a href="#" class="primary-link">Resources</a> page to find lower-priced
        alternatives to other types of care - such as discounted labs,
        prescription drugs, primary and urgent care.
      </p>
      <button class="button button--primary button--stretched">
        <a href="#">Let's go</a>
      </button>
    </header>

    <img src="images/family-illustration.svg" alt="" class="hero__image" />
  </div>
</section>
