<section class="block block--secondary">
  <div class="container">
    <header class="block__header hero__content">
      <h1 class="block__heading">How shopMD works?</h1>
      <p class="hero__tagline highlight">
        Discover the highest-value medical specialty practices across the US
      </p>
      <p class="hero__tagline">
        We identify practices that operate independent of high markups and
        administrative costs. These are generally independtly physician-owned
        and - operated with
        <strong>50%-90% lower prices</strong> and cash-friendly practices.
      </p>
    </header>
    <div class="block--main--body">
      <div class="block--main--body--element">
        <img src="images/tabler_user-check.svg" alt="" class="icon" />
        <h2 class="body--heading">Employers</h2>
        <p class="hero__tagline">
          shopMD is currently offered through employers as an added health &
          financial benefit to their employees
        </p>
      </div>
      <div class="block--main--body--element">
        <img src="images/tabler_presentation.svg" alt="" class="icon" />
        <h2 class="body--heading">Carriers & Brokers</h2>
        <p class="hero__tagline">
          shopMD is bundled with existing plans as a way for members to find the
          lowest prices within your offered networks
        </p>
      </div>
      <div class="block--main--body--element">
        <img
          src="images/people_community_regular_icon_202809 1.svg"
          alt=""
          class="icon"
        />
        <h2 class="body--heading">Community Share Plans & HRAs</h2>
        <p class="hero__tagline">
          shopMD is offered as a money-saving service to members of cash-based
          plans such as health sharing plans and Health Reimbursement Accounts
          (HRAs)
        </p>
      </div>
    </div>
    <button class="button button--primary btn-small">
      <a href="#">Not yet signed up? Wait no more!</a>
    </button>
  </div>
</section>
