<section class="block">
  <div class="container">
    <div class="block--secondary block--question">
      <h2 class="body--heading">Who are Low-cost Specialty Providers</h2>
      <p class="hero__tagline">
        Low-cost specialty providers are board-certified physicians with
        advanced medical training and licensing, like all specialty providers in
        the US.
      </p>
    </div>
    <div class="block--secondary block--question">
      <h2 class="body--heading">
        What is the price difference between low- and high-cost providers?
      </h2>
      <p class="hero__tagline">
        The price difference is massive in healthcare. Using low-cost providers
        is like getting a 50%-90% discount right away.
      </p>
    </div>
    <div class="block--secondary block--question">
      <h2 class="body--heading">Is it easy to find low-cost providers?</h2>
      <p class="hero__tagline">
        It is not easy, but shopMD makes it easy. A providers's name, location,
        or size of office by itself does not tell you if they are low-cost or
        not.
      </p>
    </div>
  </div>
</section>
