<section class="block">
  <div class="container grid grid--1x2">
    <iframe
      src="https://www.youtube.com/embed/nh99ZO2Ia9Q"
      class="block--video"
    ></iframe>
    <header class="block__header hero__content">
      <h1 class="block__heading">
        Healthcare is shoppable, everyone should do it
      </h1>
      <p class="hero__tagline secondary__text">
        Whether you have insurance or not, specialty services vary a alot in
        price from one provider to the next.
      </p>
      <p class="hero__tagline secondary__text">
        <strong>The price difference can be 10-20 times</strong> between one
        provider and another for the same quality of care.
      </p>
      <p class="hero__tagline secondary__text">
        <strong>ShopMD uncovers the lowest cost</strong> providers anywhere so
        patients don't have to hunt around for low priced providers.
      </p>
    </header>
  </div>
</section>
