<section class="block block--callout">
  <div class="container">
    <div class="callout--section">
      <header class="block__header hero__content">
        <h2 class="block__heading">
          Not getting shopMD through your employer?
        </h2>
        <p class="hero__tagline">
          If you want your employer to use shopMD, let us know how to contact
          them.
        </p>
      </header>
      <button class="button button--primary btn-small">
        <a href="#">Yes, I want my employer to join shopMD</a>
      </button>
    </div>
  </div>
</section>
