<footer class="block footer">
  <div class="container">
    <img src="images/logo.jpg" alt="ShopMD Logo" class="footer__brand" />
    <div class="footer--section">
      <ul class="list">
        <li class="list--element"><a href="#">Home</a></li>
        <li class="list--element"><a href="#">About Us</a></li>
        <li class="list--element"><a href="#">Resources</a></li>
        <li class="list--element"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer--section">
      <ul class="list">
        <li class="list--element"><a href="#">Providers</a></li>
        <li class="list--element"><a href="#">Employers</a></li>
        <li class="list--element"><a href="#">Brokers & Carriers</a></li>
        <li class="list--element">
          <a href="#">Community Share Plans & HRAs</a>
        </li>
      </ul>
    </div>
    <div class="footer--section">
      <p class="footer--disclaimer">
        If you are having a medical emergency, call 911 or go to your closest
        emergency room immediately.
        <strong>
          shopMD is not intended for use if you need urgent or emergency care.
        </strong>
      </p>
    </div>
  </div>
  <div class="main-disclaimer">
    <p>
      The content provided here and elsewhere on the shopMD site is for general
      informational purposes only. It is not intended as, and shopMD does not
      provide, medical advice, diagnosis or treatment. Always contact your
      healthcare provider directly with any questions you may have regarding
      your health or specific medical advice.
    </p>
  </div>
  <div class="credits">
    <a href="#" class="credit-element">Terms of Use</a>
    <a href="#" class="credit-element">Privacy Policy</a>
    <p>(c)2022, shopMD. All Rights Reserved</p>
  </div>
</footer>
