<section class="block hero">
  <div class="container grid grid--1x2">
    <header class="block__header hero__content">
      <h1 class="block__heading">Healthcare does not have to be expensive</h1>
      <p class="hero__tagline">
        High-value specialty providers reduce out-of-pocket costs
        <strong>50%-90%</strong> and <strong>20%</strong> of employer healthcare
        spend
      </p>
    </header>
    <img src="images/hero-illustration.jpg" alt="" class="hero__image" />
  </div>
  <div class="search--bar">
    <input type="email" name="" id="" class="input--bar" />
    <select name="" id="" class="select--option">
      <option value="0" class="select--element">Specialty</option>
      <option value="1" class="select--element">Cardiology</option>
      <option value="2" class="select--element">Dentist</option>
    </select>
    <button class="button button--primary search-btn">
      <img src="icons/search.png" alt="" class="search-icon" />
    </button>
  </div>
  <a href="#" class="search-email-question">Why do we need your work email?</a>
</section>
