<nav class="nav collapsible">
  <img src="images/logo.jpg" alt="ShopMD Logo" class="nav__brand" />
  <img src="images/menu.svg" alt="Navbar Toggler" class="nav__toggler" />
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="index.html" class="active">Home</a></li>
    <li class="nav__item"><a href="#">About Us</a></li>
    <li class="nav__item"><a href="#">Resources</a></li>
    <li class="nav__item"><a href="#">Contact</a></li>
    <button class="button button--primary"><a href="#">Login</a></button>
  </ul>
</nav>
